body {
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pyramid-container {
    display: flex;
    position: relative;
    justify-content: center;
}

.pyramid {
   width: 20px; 
   position: relative;
   top: -4px;
   left: 5px;
}

.links-inside {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 15px;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: black;
}

.follow {
    color: grey;
}
.signing {
    color: green;
}

.magnifier {
    width: 23px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;
}

.profile {
    position: relative;
}

.amaury {
    border-radius: 40px;
    width: 80px;
    margin-top: 70px;

}

.bio {
    list-style: none;
    padding: 0px;
    min-width: 169px;
}

.bio-container {
    position: absolute;
    top: 67px;
    left: 100px;
}

.follow-button {
    color: green;
    border-radius: 10px;
    border: 1px solid green;
    background: white;
}

img {
    width: 100%;
}

.line2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.line2, .line3 {
    color: #909090;
    font-size: 13px;
}

p {
   line-height: 27px; 
}

h3 {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    color: grey;
}

@media only screen and (min-width: 614px) {
    .nav-container{
        font-size: 14px;
        padding: 0px;
        margin-left: 50%;
    }
}